.title {
    font-size: 26;
    horizontal-align: center;
    margin: 20;
}

Button {
    horizontal-align: center;
}

.red {
    color: darkred;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
